/**
* actionsheet
*/
/**
* en: primary type text color of menu item
* zh-CN: 菜单项primary类型的文本颜色
*/
/**
* en: warn type text color of menu item
* zh-CN: 菜单项warn类型的文本颜色
*/
/**
* en: default type text color of menu item
* zh-CN: 菜单项default类型的文本颜色
*/
/**
* en: disabled type text color of menu item
* zh-CN: 菜单项disabled类型的文本颜色
*/
/**
* datetime
*/
/**
* tabbar
*/
/**
* tab
*/
/**
* dialog
*/
/**
* en: title and content's padding-left and padding-right
* zh-CN: 标题及内容区域的 padding-left 和 padding-right
*/
/**
* x-number
*/
/**
* checkbox
*/
/**
* check-icon
*/
/**
* Cell
*/
/**
* Mask
*/
/**
* Range
*/
/**
* Tabbar
*/
/**
* Header
*/
/**
* Timeline
*/
/**
* Switch
*/
/**
* Button
*/
/**
* en: border radius
* zh-CN: 圆角边框
*/
/**
* en: font color
* zh-CN: 字体颜色
*/
/**
* en: margin-top value between previous button, not works when there is only one button
* zh-CN: 与相邻按钮的 margin-top 间隙，只有一个按钮时不生效
*/
/**
* en: button height
* zh-CN: 按钮高度
*/
/**
* en: the font color in disabled
* zh-CN: disabled状态下的字体颜色
*/
/**
* en: the font color in disabled
* zh-CN: disabled状态下的字体颜色
*/
/**
* en: font size
* zh-CN: 字体大小
*/
/**
* en: the font size of the mini type
* zh-CN: mini类型的字体大小
*/
/**
* en: the line height of the mini type
* zh-CN: mini类型的行高
*/
/**
* en: the background color of the warn type
* zh-CN: warn类型的背景颜色
*/
/**
* en: the background color of the warn type in active
* zh-CN: active状态下，warn类型的背景颜色
*/
/**
* en: the background color of the warn type in disabled
* zh-CN: disabled状态下，warn类型的背景颜色
*/
/**
* en: the background color of the default type
* zh-CN: default类型的背景颜色
*/
/**
* en: the font color of the default type
* zh-CN: default类型的字体颜色
*/
/**
* en: the background color of the default type in active
* zh-CN: active状态下，default类型的背景颜色
*/
/**
* en: the font color of the default type in disabled
* zh-CN: disabled状态下，default类型的字体颜色
*/
/**
* en: the background color of the default type in disabled
* zh-CN: disabled状态下，default类型的背景颜色
*/
/**
* en: the font color of the default type in active
* zh-CN: active状态下，default类型的字体颜色
*/
/**
* en: the background color of the primary type
* zh-CN: primary类型的背景颜色
*/
/**
* en: the background color of the primary type in active
* zh-CN: active状态下，primary类型的背景颜色
*/
/**
* en: the background color of the primary type in disabled
* zh-CN: disabled状态下，primary类型的背景颜色
*/
/**
* en: the font color of the plain primary type
* zh-CN: plain的primary类型的字体颜色
*/
/**
* en: the border color of the plain primary type
* zh-CN: plain的primary类型的边框颜色
*/
/**
* en: the font color of the plain primary type in active
* zh-CN: active状态下，plain的primary类型的字体颜色
*/
/**
* en: the border color of the plain primary type in active
* zh-CN: active状态下，plain的primary类型的边框颜色
*/
/**
* en: the font color of the plain default type
* zh-CN: plain的default类型的字体颜色
*/
/**
* en: the border color of the plain default type
* zh-CN: plain的default类型的边框颜色
*/
/**
* en: the font color of the plain default type in active
* zh-CN: active状态下，plain的default类型的字体颜色
*/
/**
* en: the border color of the plain default type in active
* zh-CN: active状态下，plain的default类型的边框颜色
*/
/**
* en: the font color of the plain warn type
* zh-CN: plain的warn类型的字体颜色
*/
/**
* en: the border color of the plain warn type
* zh-CN: plain的warn类型的边框颜色
*/
/**
* en: the font color of the plain warn type in active
* zh-CN: active状态下，plain的warn类型的字体颜色
*/
/**
* en: the border color of the plain warn type in active
* zh-CN: active状态下，plain的warn类型的边框颜色
*/
/**
* swipeout
*/
/**
* Cell
*/
/**
* Badge
*/
/**
* en: badge background color
* zh-CN: badge的背景颜色
*/
/**
* Popover
*/
/**
* Button tab
*/
/**
* en: not used
* zh-CN: 未被使用
*/
/**
* en: border radius color
* zh-CN: 圆角边框的半径
*/
/**
* en: border color
* zh-CN: 边框的颜色
*/
/**
* en: not used
* zh-CN: 默认状态下圆角边框的颜色
*/
/**
* en: not used
* zh-CN: 未被使用
*/
/**
* en: default background color
* zh-CN: 默认状态下的背景颜色
*/
/**
* en: selected background color
* zh-CN: 选中状态下的背景颜色
*/
/**
* en: not used
* zh-CN: 未被使用
*/
/* alias */
/**
* en: not used
* zh-CN: 未被使用
*/
/**
* en: default text color
* zh-CN: 默认状态下的文本颜色
*/
/**
* en: height
* zh-CN: 元素高度
*/
/**
* en: line height
* zh-CN: 元素行高
*/
/**
* Swiper
*/
/**
* checklist
*/
/**
* popup-picker
*/
/**
* popup
*/
/**
* popup-header
*/
/**
* form-preview
*/
/**
* sticky
*/
/**
* group
*/
/**
* en: margin-top of title
* zh-CN: 标题的margin-top
*/
/**
* en: margin-bottom of title
* zh-CN: 标题的margin-bottom
*/
/**
* en: margin-top of footer title
* zh-CN: 底部标题的margin-top
*/
/**
* en: margin-bottom of footer title
* zh-CN: 底部标题的margin-bottom
*/
/**
* toast
*/
/**
* en: text color of content
* zh-CN: 内容文本颜色
*/
/**
* en: default top
* zh-CN: 默认状态下距离顶部的高度
*/
/**
* en: position top
* zh-CN: 顶部显示的高度
*/
/**
* en: position bottom
* zh-CN: 底部显示的高度
*/
/**
* en: z-index
* zh-CN: z-index
*/
/**
* icon
*/
/**
* calendar
*/
/**
* en: forward and backward arrows color
* zh-CN: 前进后退的箭头颜色
*/
/**
* en: text color of week highlight
* zh-CN: 周末高亮的文本颜色
*/
/**
* en: background color when selected
* zh-CN: 选中时的背景颜色
*/
/**
* en: text color when disabled
* zh-CN: 禁用时的文本颜色
*/
/**
* en: text color of today
* zh-CN: 今天的文本颜色
*/
/**
* en: font size of cell
* zh-CN: 单元格的字号
*/
/**
* en: background color
* zh-CN: 背景颜色
*/
/**
* en: size of date cell
* zh-CN: 日期单元格尺寸大小
*/
/**
* en: line height of date cell
* zh-CN: 日期单元格的行高
*/
/**
* en: text color of header
* zh-CN: 头部的文本颜色
*/
/**
* week-calendar
*/
/**
* search
*/
/**
* en: text color of cancel button
* zh-CN: 取消按钮文本颜色
*/
/**
* en: background color
* zh-CN: 背景颜色
*/
/**
* en: text color of placeholder
* zh-CN: placeholder文本颜色
*/
/**
* radio
*/
/**
* en: checked icon color
* zh-CN: 选中状态的图标颜色
*/
/**
* loadmore
*/
/**
* en: not used
* zh-CN: 未被使用
*/
/**
* loading
*/
/**
* en: z-index
* zh-CN: z-index
*/
